body{
  background-color: white;
  margin: 1em;
}

body h3{
  color: gray
}
.Polaris-Card{
  min-width: 600px;
  width: 1vw;
  margin: 1vh auto;
  border: 1px solid black;
  padding: 1vh 1vw;
  display: block;
  
}

/* .Polaris-Card p, h2{
  padding-right: 16vw;
} */

.Polaris-Button__Text{
  font-size: medium;
}

.Polaris-Card img{
  min-width: 600px;
  max-height: 600px;
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
